<section id="home">
  <!-- <h1 class="vertical-align" style="margin:10px 10px">
    Home Page...!!!
  </h1> -->
  <h1 class="cover-heading">Cover your page.</h1>
  <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen
    background photo to make it your own.</p>
  <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen
    background photo to make it your own.</p>
  <p class="lead">
    <a href="" class="btn btn-lg btn-secondary">Learn more</a>
  </p>
</section>