<form class="form-signin vertical-center" [formGroup]="loginForm">
  <img class="mb-4" src="././assets/logo_A-01.png" alt="" height="120"/>
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <p>else
    <a routerLink="/register" routerLinkActive="active">Sign Up</a>
  </p>
  <div class="form-group"> 
    <label for="inputEmail" class="sr-only">Username</label>
    <input type="text" id="inputEmail" class="form-control" formControlName="username" placeholder="Username" required="" autofocus=""/>
    <div *ngIf="formErrors.username" style="color: #cc2222">{{formErrors.username}}</div>
  </div>
  <div class="form-group"> 
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" formControlName="password" placeholder="Password" required=""/>
    <div *ngIf="formErrors.password" style="color: #cc2222">{{formErrors.password}}</div>
  </div>  
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  
  <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="loginForm.invalid" (click)="authenticate()">Sign in</button>
  <!-- <a routerLink="/home" routerLinkActive="active" class="btn btn-lg btn-light btn-block" type="submit">Sign in</a> -->

  <!-- <a href="/home" class="btn btn-lg btn-light btn-block" type="submit">Sign in</a> -->
</form>